header {
  p {
    color: _palette(fg-light);
    margin: 0 0 (_size(element-margin) * 0.75) 0;
    position: relative;
  }

  h2 + p {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-top: (_size(element-margin) * -0.5);
  }

  h3 + p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: (_size(element-margin) * -0.4);
  }

  h4 + p,
  h5 + p,
  h6 + p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: (_size(element-margin) * -0.3);
  }

  &.major {
    margin: 0 0 (_size(element-margin) * 0.5) 0;

    &:after {
      background: _palette(border);
      content: '';
      display: inline-block;
      height: 1px;
      margin-top: (_size(element-margin) * 0.75);
      width: 6em;
    }

    h2, h3, h4, h5, h6 {
      margin: 0;
    }

    p {
      margin: (_size(element-margin) * 0.35) 0 0 0;
    }
  }

  &.special {
    text-align: center;
  }
}
